@charset "UTF-8";

* {
    cursor: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.897);
}

::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background: #2b2b2b;
}

body {
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
}

.video-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

#video {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.fallback-image {
    display: none;
}

@media (max-width: 768px) {
    #video {
        display: none;
    }

    .fallback-image {
        display: block;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

main {
    background-color: rgb(17, 17, 17);
    margin: 30px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.167);
    padding: 0 10px;
}

@media (min-width: 600px) {
    main {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        min-width: 100px;
    }
}

header {
    text-align: center;
    font-size: large;
}

#princ {
    padding-top: 20px;
}

section {
    text-align: center;
}

section article {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.a1 {
    background-color: rgba(0, 0, 0, 0.718);
    margin: auto;
    border-radius: 20px;
    max-width: 460px;
    min-width: 160px;
}

.a1>header {
    font-size: large;
    font-weight: 600;
    padding-top: 1em;
}

.a1>p {
    padding-bottom: 1em;
}

#subSect {
    display: flex;
    justify-content: center;
}

.b {
    background-color: rgba(0, 0, 0, 0.718);
    width: 200px;
    border-radius: 20px;
    padding-bottom: 1em;
    padding-top: 1.2em;
}

.b>header {
    font-size: large;
    font-weight: 600;
}

#b2 {
    margin-left: 25px;
}

div#buttom {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

input {
    margin-top: 20px;
    height: 40px;
    width: auto;
    border-radius: 20px;
    color: black;
    background-color: white;
    font-size: medium;
    font-weight: 600;
    cursor: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.755);
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
}

footer > p {
    padding-top: 1em;
}

#seletor-do-elemento {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3bdc73;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}